@import '../../styles/variables.scss';

.border_countries {
    padding: 0.5em 2em;
    border-radius: 8px;
    background-color: #d8d8d8;
    display: inline-block;
    margin-left: 2em;
    margin-bottom: 5px;
    font: {
        size: 14px;
        weight: 600;
    }
}

.border_countries.dark-mode{
    background-color: $Dark-Blue-D;
    box-shadow: 0 0 5px #141c23;
}