@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
/*      Colors      */
// Dark Mode Elements
$Dark-Blue-D: hsl(209, 23%, 22%);

// Dark Mode Background
$Very-Dark-Blue-D: hsl(207,26%, 17%);

//Light Mode Text
$Very-Dark-Blue-L: hsl(200, 15%, 8%);

//Light Mode Input
$Dark-Gray: hsl(0, 0%, 52%);

//Light Mode Background
$Very-Light-Gray: hsl(0, 0%, 98%);

// Dark Mode Text and Light Mode Elements
$white: hsl(0, 0%, 100%);

/*      Font-size       */
$Homepage-Items: 14px;
$Detail-Page: 16px;

/*      font-family     */
$theme-font: 'Nunito Sans', sans-serif;